Задание 2.4

В аптеку поступают партии лекарств. Их названия находятся в списке names, количество единиц товара находится в списке counts.

Например:

names = ['chlorhexidine', 'cyntomycin', 'afobazol'] counts = [15, 18, 7]

Напишите функцию create_medications(names, counts), которая создает Series medications, индексами которой являются названия лекарств names, а значениями - их количество в поставке counts.

А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара с именем name от общего количества товаров в поставке в процентах.

Примечание. Не забудьте ипортировать библиотеки.

Пример:


names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine")) #37.5

In [4]:
import pandas as pd

def create_medications(names, counts):
    """
    Создает Series, где названия лекарств - это индексы, а их количество - значения.
    """
    return pd.Series(counts, index=names)

def get_percent(medications, name):
    """
    Возвращает процентное соотношение количества указанного лекарства
    к общему количеству всех лекарств в поставке.
    """
    if name not in medications:
        return 0  # Если лекарства нет в списке, возвращаем 0%
    total = medications.sum()
    return (medications[name] / total) * 100

# Пример использования:
names = ['chlorhexidine', 'cyntomycin', 'afobazol']
counts = [15, 18, 7]
medications = create_medications(names, counts)

print(get_percent(medications, "chlorhexidine"))  # 37.5

37.5

Задание 3.5 

Вы работаете аналитиком в компании ScienceYou. Ваша задача — проанализировать чистую прибыль.

Доходы (income), расходы (expenses) и годы (years), соответствующие им, предоставлены вам в виде списков.

Например:


income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]
Создайте функцию create_companyDF(income, expenses, years), которая возвращает DataFrame, составленный из входных данных со столбцами Income и Expenses и индексами, соответствующими годам рассматриваемого периода.

Пример такого DataFrame представлен ниже.


    Income  Expenses
2018    478     156
2019    512     130
2020    196     270
Также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанными в таблице df, за год year.

Примечание. Если информация за запрашиваемый год не указана в вашей таблице, вам необходимо вернуть None.

In [6]:
import pandas as pd

def create_companyDF(income, expenses, years):
    data = {'Income': income, 'Expenses': expenses}
    df = pd.DataFrame(data, index=years)
    return df

def get_profit(df, year):
    if year in df.index:
        return df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    return None

# Пример использования
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

df = create_companyDF(income, expenses, years)
print(df)

profit_2019 = get_profit(df, 2019)
print(f"Разница между доходом и расходом за 2019 год: {profit_2019}")

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270
Разница между доходом и расходом за 2019 год: 382

Данные, с которыми мы будем работать — это обработанный датасет об объектах недвижимости в Мельбурне (Австралия) и его пригородах.

Данные представляют собой таблицу, в которой содержится 23 столбца:

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе, выставленных на продажу
Coordinates — широта и долгота, объединённые в кортеж

In [7]:
#Прочитаем наши данные о недвижимости из csv-файла и запишем результирующий DataFrame в переменную melb_data:

melb_data = pd.read_csv('data/melb_data.csv', sep=',')
display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

Задание 5.1

In [8]:
#Какова цена объекта недвижимости под индексом 15?
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
price_index_15 = melb_data.loc[15, 'Price']
display(price_index_15)

1310000.0

In [9]:
#Когда был продан объект под индексом 90?
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
price_index_90 = melb_data.loc[90, 'Date']
display(price_index_90)

'10/09/2016'

Задание 5.3

Во сколько раз площадь прилегающей территории, на которой находится здание
с индексом 3521, больше площади участка, на котором находится здание 
с индексом 1690? Ответ округлите до целого числа.

In [10]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
# Извлекаем площадь прилегающей территории (Landsize) для объектов 
# с индексами 3521 и 1690.
landsize_3521 = melb_data.loc[3521, 'Landsize']
landsize_1690 = melb_data.loc[1690, 'Landsize']
# Делим одно значение на другое.
# Округляем результат до целого числа с помощью round().
ratio = round(landsize_3521 / landsize_1690)
display(ratio)

3

Задание 6.1

Дана таблица data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B']). Что выведет код print(data.shape)?

Чтобы узнать размер таблицы — количество строк и количество столбцов. Это можно сделать с помощью атрибута shape, который возвращает кортеж с количеством строк и столбцов:

In [11]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
print(data.shape)

(3, 2)

Задание 6.2

Какой из нижеперечисленных вариантов кода позволяет получить последние 15 строк DataFrame melb_data?

melb_data.tail(15)

при этом head() верхние (по умолчанию 5)
tail() нижние пять

Задание 6.3
melb_data.info()
Какой тип данных имеет столбец Coordinates?

 22  Coordinates    13580 non-null  object 
посмотрели с помощью метода info()
Данный метод выводит:

информацию об индексах;
информацию об общем количестве столбцов;
таблицу, в которой содержится информация об именах столбцов (Column), количестве непустых значений (Non-Null Count) в каждом столбце и типе данных столбца (Dtype), количестве столбцов, в которых используется определённый тип данных;
количество оперативной памяти в мегабайтах, которое тратится на хранение данных.

Задание 6.4

Какое утверждение о типе данных object верно?

Это тип данных, которым в Pandas кодируются текстовые или другие нечисловые значения (кортежи, списки и т. д.)

Задание 6.5
melb_data.info()
Сколько пропущенных значений в столбце CouncilArea?
ответ 1369

 16  YearBuilt      13580 non-null  int64  
 17  CouncilArea    12211 non-null  object 
 18  Lattitude      13580 non-null  float64

 13580-12211= 1369

Задание 6.6
melb_data.info()
Сколько столбцов после преобразования типов имеет целочисленный тип данных?



<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype  
---  ------         --------------  -----  
 0   index          13580 non-null  int64  
 1   Suburb         13580 non-null  object 
 2   Address        13580 non-null  object 
 3   Rooms          13580 non-null  int64  
 4   Type           13580 non-null  object 
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object 
 7   SellerG        13580 non-null  object 
 8   Date           13580 non-null  object 
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64  
 11  Bedroom        13580 non-null  int64  
 12  Bathroom       13580 non-null  int64  
 13  Car            13580 non-null  int64  
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64  
 17  CouncilArea    12211 non-null  object 
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
...
 21  Propertycount  13580 non-null  int64  
 22  Coordinates    13580 non-null  object 
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

Задание 6.7

Выберите верные утверждения в отношении таблицы melb_data:


Информацию о статистических параметрах столбцов с данными типа object можно получить с помощью метода describe() с параметром include=['object'].


A Наименьшее число объектов расположено в районе Southern Metropolitan
B Мельбурн и его пригороды разделены как минимум на восемь районов
C У некоторых различных адресов в таблице совпадают географические координаты
D В пригороде Reservoir расположено наибольшее число проданных объектов - 359


ни одно утверждение не верно!!!

Задание 6.9

Сколько процентов от общего количества домов составляют таунхаусы (тип объекта — t)?
Ответ округлите до целого числа. Не указывайте знак %.

In [12]:
# Посчитаем общее количество записей в melb_data
total_count = len(melb_data)  # Общее количество объектов
# Вычисляем количество таунхаусов (Type == 't').
townhouse_count = (melb_data['Type'] == 't').sum()  # Количество таунхаусов
# Найти процентное соотношение и округлить до целого числа.
percentage = round((townhouse_count / total_count) * 100)
print(percentage)

8

Задание 7.2

Чему равно максимальное количество домов на продажу в районе (Propertycount)?

In [13]:
print(melb_data['Propertycount'].max())
#21650.0

21650.0

Задание 7.3

Чему равно стандартное отклонение (разброс) расстояния от центра города до объекта недвижимости?

In [14]:
# Distance — расстояния до объекта от центра Мельбурна 

income = melb_data['Distance'].std()
print(round(income))
#6

6

Задание 7.4

Чему равно отклонение (в процентах) медианного значения площади здания от его среднего значения?

In [15]:
# BuildingArea — площадь здания

landsize_median = melb_data['BuildingArea'].median() 
landsize_mean =  melb_data['BuildingArea'].mean()

print(round(abs((landsize_median - landsize_mean)/landsize_mean) * 100))
#10

10

Задание 7.5

Задан ряд чисел [1, 2, 4, 2, 3, 2, 1, 5, 6]. Чему равна мода в данном ряду?

mode - это какое число чаще всего представлено в ряде чисел
у нас это 2 (3 раза)

Задание 7.6

Сколько спален чаще всего встречается в домах в Мельбурне?

In [16]:
#Вычислим, какое сколько спален чаще всего встречаются
# Bedroom — количество спален
print(melb_data['Bedroom'].mode())
# 0    3.0
# dtype: float64

0    3.0
Name: Bedroom, dtype: float64

Данные представляют собой таблицу, в которой содержится 23 столбца:

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе, выставленных на продажу
Coordinates — широта и долгота, объединённые в кортеж

Задание 8.1

У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?

In [17]:
#Bathroom — количество ванных комнат
melb_data[melb_data['Bathroom'] == 0].shape[0]
#34

34

Задание 8.2

Сколько в таблице melb_data объектов недвижимости, которые были проданы риелторской компанией Nelson и стоимость которых составила больше 3 миллионов?

In [18]:
# SellerG — риэлторская компания

melb_data[(melb_data['SellerG'] == "Nelson") & (melb_data['Price'] > 3000000)].shape[0]
 # 5

5

Задание 8.3

Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
Запишите ответ в виде целого числа.

In [19]:
#BuildingArea — площадь здания
# .min()	Минимальное значение
min_price = melb_data[melb_data['BuildingArea'] == 0]['Price'].min()
print(int(min_price))
#412500

412500

Задание 8.4

Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона, в которых либо количество комнат больше пяти, либо здание моложе 2015 года?
Округлите ответ до целого числа.

In [20]:
#А теперь более сложный трюк: найдём медианную площадь здания у объектов,
# чья цена выше средней. Для того чтобы оградить наш код от нагромождений,
 
# создадим переменную со средней ценой
# Rooms — количество комнат в помещении
# YearBuilt — год постройки

filtered_data = melb_data[(melb_data['Price'] < 1000000) & 
                          ((melb_data['Rooms'] > 5) | (melb_data['YearBuilt'] > 2015))]

mean_price = round(filtered_data['Price'].mean())
print(mean_price)
#769239

769239

Задание 8.5

В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?

In [21]:
filtered_data = melb_data[(melb_data['Type'] == 'h') & (melb_data['Price'] < 3000000)]

most_common_region = filtered_data['Regionname'].mode()[0]
print(most_common_region)

Northern Metropolitan

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Задание 9.1

Данные о скольких студентах содержатся в таблице?
Ответ 1000

In [22]:
#Прочитаем наши данные о недвижимости из csv-файла и запишем результирующий DataFrame в переменную student_data:

student_data = pd.read_csv('data/students_performance.csv', sep=',')
display(student_data)
#1000 rows × 8 columns

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

Задание 9.2

Каков балл по письму у студента под индексом 155?

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [23]:
# writing score - баллы по письму по сто балльной шкале.

student_data_155 = student_data.loc[155, 'writing score']
display(student_data_155)
#88

88

Задание 9.3

Сколько суммарно пропущенных значений в таблице?

Их нет!!! Нет пропусков

In [24]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Задание 9.4

Сколько столбцов в таблице имеет тип данных object?

Ответ: dtypes: int64(3), object(5)

Задание 9.5

Какой объём памяти (в килобайтах) занимает таблица?
Округлите ответ до целого числа.

Ответ: memory usage: 62.6+ KB (окрглили до 63)

Задание 9.6

Каков у студентов средний балл по математике?
Округлите ответ до целого числа.

Метод	Статистический параметр
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

In [25]:
# math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.
# .mean()	Среднее значение
mean_math_score = student_data['math score'].mean()
print(round(mean_math_score))

66

Задание 9.7

Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, E).

In [26]:
#Вычислим, какое число комнат чаще всего представлено на рынке недвижимости:
# Примечание. Метод mode() может быть использован не только с числовыми столбцами,
# но и со столбцами типа object. Так, например, с помощью следующего кода можно 
# найти наиболее распространённое название
print(student_data['race/ethnicity'].mode())

# group C

0    group C
Name: race/ethnicity, dtype: object

Задание 9.8

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
Округлите ответ до целого числа.

gender — пол;
race/ethnicity — раса/этническая принадлежность;
parental level of education — уровень образования родителей;
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [27]:
avg_reading_score = round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())
print(avg_reading_score)

# 74

74

Задание 9.9

Сколько студентов получили 0 баллов по математике?

In [28]:
# math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.
student_data[student_data['math score'] == 0].shape[0]

#1

1

Задание 9.10

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
Округлите ответ до целого числа.

In [29]:

mean_standard = round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
mean_free = round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

print(mean_standard) # 70
print(mean_free) # 59

70
59

Задание 9.11

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
Округлите ответ до целого числа.
Не указывайте знак %.

In [30]:
total_students = len(student_data)  # Общее количество студентов
bachelor_students = (student_data['parental level of education'] == "bachelor's degree").sum()  # Количество студентов с родителями-бакалаврами

percentage = round((bachelor_students / total_students) * 100)
print(total_students)
print(percentage)

1000
12

Задание 9.12

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?
Округлите ответ до целого и запишите модуль этого числа.

In [31]:
# writing score — баллы по письму по сто балльной шкале.
# .mean()	Среднее значение
# .median() медиана
median_writing_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
mean_writing_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

difference = abs(round(median_writing_A - mean_writing_C))
print(difference)

6

Метод	Статистический параметр
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

Задание 2.1

Среди приведённых ниже вариантов кода выберите тот, который найдёт квадрат цены объекта недвижимости за наименьшее время и не выдаст ошибку.
Результат должен быть занесён в переменную price_square и представлять собой объект Series:

In [33]:
price_square = melb_df['Price'] ** 2

NameError: name 'melb_df' is not defined

Задание 2.2

Задан DataFrame customer_df, содержащий столбцы:
cust_id — идентификатор клиента;
cust_age — возраст клиента (точкой отсчёта возраста считается 2021 год);
cust_sale — персональная скидка клиента;
cust_year_birth — год рождения клиента;
cust_order — сумма заказа клиента.

Какие столбцы не несут полезной информации/дублируют информацию из других столбцов и поэтому могут быть удалены?

В качестве ответа запишите названия этих столбцов по порядку их следования в коде, через запятую, без пробелов и кавычек.

Ответ: number,cust_age

In [34]:
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })

# Ответ: number,cust_age

Задание 2.3

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None.

Пример DataFrame:


customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

In [35]:
import pandas as pd

def delete_columns(df, col=[]):
    # Проверяем, есть ли все указанные столбцы в DataFrame
    if not set(col).issubset(df.columns):
        return None
    # Удаляем указанные столбцы и возвращаем новый DataFrame
    return df.drop(columns=col)

# Пример DataFrame
customer_df = pd.DataFrame({
    'number': [0, 1, 2, 3, 4],
    'cust_id': [128, 1201, 9832, 4392, 7472],
    'cust_age': [13, 21, 19, 21, 60],
    'cust_sale': [0, 0, 0.2, 0.15, 0.3],
    'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
    'cust_order': [1400, 14142, 900, 1240, 8430]
})

# Пример вызова функции
new_df = delete_columns(customer_df, ['number', 'cust_age'])
print(new_df)

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

Задание 2.4

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (area) в квадратных километрах.
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [36]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

melb_df = countries_df.copy()

# Вычисляем плотность населения (население в миллионах, поэтому * 10^6)
melb_df['density'] = (melb_df['population'] * 1e6) / melb_df['area']

# Вычисляем среднюю плотность населения и округляем до сотых
avg_density = round(melb_df['density'].mean(), 2)

print(avg_density)

84.93

Задание 3.3

Создайте в таблице melb_df признак WeekdaySale (день недели). Найдите, сколько объектов недвижимости было продано в выходные (суббота и воскресенье), результат занесите в переменную weekend_count. В качестве ответа введите результат вывода переменной weekend_count.

In [ ]:
import pandas as pd

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek  # 0 - понедельник, 6 - воскресенье

# Фильтруем выходные (5 - суббота, 6 - воскресенье)
weekend_count = melb_df[melb_df['WeekdaySale'].isin([5, 6])].shape[0]

# Вывод результата
print(weekend_count)

# 12822

In [38]:
data_ufo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
data_ufo['Time'] = pd.to_datetime(data_ufo ['Time']) 
display(data_ufo)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,2000-12-31 23:00:00
18237,Spirit Lake,NaN,DISK,IA,2000-12-31 23:00:00
18238,Eagle River,NaN,NaN,WI,2000-12-31 23:45:00
18239,Eagle River,RED,LIGHT,WI,2000-12-31 23:45:00
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).

Тип данных datetime позволяет с помощью специального аксессора dt выделять составляющие времени из каждого элемента столбца, такие как:

date — дата;
year, month, day — год, месяц, день;
time — время;
hour, minute, second — час, минута, секунда;
dayofweek — номер дня недели, от 0 до 6, где 0 — понедельник, 6 — воскресенье;
day_name — название дня недели;
dayofyear — порядковый день года;
quarter — квартал (интервал в три месяца).

Метод	Статистический параметр
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

Задание 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [39]:
year_ufo = data_ufo['Time'].dt.year

print('max_year_ufo:', year_ufo.mode()[0])
# max_year_ufo: 1999

max_year_ufo: 1999

Задание 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

In [40]:
# Фильтруем данные по штату Невада (NV)
nevada_ufo = data_ufo[data_ufo['State'] == 'NV'].copy()

# Извлекаем только дату без времени
nevada_ufo['Date'] = nevada_ufo['Time'].dt.date

# Сортируем по дате наблюдения
nevada_ufo = nevada_ufo.sort_values(by='Date')

# Вычисляем разницу между последовательными датами
nevada_ufo['Date'] = pd.to_datetime(nevada_ufo['Date'])  # Преобразуем обратно в datetime
nevada_ufo['DateDiff'] = nevada_ufo['Date'].diff().dt.days

# Находим средний интервал времени в днях
average_interval = round(nevada_ufo['DateDiff'].mean())

# Вывод результата
print(average_interval)

69

Задание 4.2

Ранее, в задании  мы создали признак WeekdaySale в таблице melb_df — день недели продажи. Из полученных в задании результатов можно сделать вывод, что объекты недвижимости в Мельбурне продаются преимущественно по выходным (суббота и воскресенье).

import pandas as pd

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek  # 0 - понедельник, 6 - воскресенье

# Фильтруем выходные (5 - суббота, 6 - воскресенье)
weekend_count = melb_df[melb_df['WeekdaySale'].isin([5, 6])].shape[0]

# Вывод результата
print(weekend_count)


Напишите функцию get_weekend(weekday), которая принимает на вход элемент столбца WeekdaySale и возвращает 1, если день является выходным, и 0 — в противном случае, и создайте столбец Weekend в таблице melb_df с помощью неё.

Примените эту функцию к столбцу и вычислите среднюю цену объекта недвижимости, проданного в выходные дни. Результат округлите до целых.

In [ ]:
import pandas as pd

# Функция, определяющая, является ли день выходным
def get_weekend(weekday):
    return 1 if weekday in [5, 6] else 0

# Создание нового столбца Weekend
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

# Вычисление средней цены объектов, проданных в выходные
weekend_avg_price = melb_df[melb_df['Weekend'] == 1]['Price'].mean()

# Округление результата до целых
print(round(weekend_avg_price))


#Ответ: 1081199

Задание 4.3

Преобразуйте столбец SellerG с наименованиями риелторских компаний в таблице melb_df следующим образом: оставьте в столбце только 49 самых популярных компаний, а остальные обозначьте как 'other'.
Найдите, во сколько раз минимальная цена объектов недвижимости, проданных компанией 'Nelson', больше минимальной цены объектов, проданных компаниями, обозначенными как 'other'. Ответ округлите до десятых.

In [54]:
import pandas as pd

# Читаем данные
melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_df = melb_data.copy()

# Определяем 49 самых популярных риелторских компаний
top_sellers = melb_df['SellerG'].value_counts().nlargest(49).index

# Заменяем все остальные компании на 'other'
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in top_sellers else 'other')

# Находим минимальные цены для 'Nelson' и 'other'
min_price_nelson = melb_df[melb_df['SellerG'] == 'Nelson']['Price'].min()
min_price_other = melb_df[melb_df['SellerG'] == 'other']['Price'].min()

# Вычисляем отношение и округляем до десятых
result = round(min_price_nelson / min_price_other, 1)

# Выводим результат
print(melb_df['SellerG'])
print(min_price_nelson)
print(min_price_other)
print(result)

0          Biggin
1          Biggin
2          Biggin
3          Biggin
4          Nelson
           ...
13575       Barry
13576    Williams
13577       Raine
13578     Sweeney
13579     Village
Name: SellerG, Length: 13580, dtype: object
170000.0
131000.0
1.3

Задание 4.4
Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Примечание. Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции.

При проверке мы будем применять вашу функцию к разным Series с помощью метода apply().

Пример результата работы функции get_experience:

In [55]:
def get_experience(arg):
    words = arg.split()  # Разбиваем строку на слова
    total_months = 0
    
    for i in range(len(words)):
        if words[i] == "год" or words[i] == "года" or words[i] == "лет":
            total_months += int(words[i - 1]) * 12  # Умножаем годы на 12
        elif words[i] == "месяц" or words[i] == "месяца" or words[i] == "месяцев":
            total_months += int(words[i - 1])  # Просто прибавляем месяцы
    
    return total_months

# Пример данных
import pandas as pd

data = pd.Series([
    "3 года 5 месяцев",
    "7 лет",
    "10 месяцев",
    "2 года",
    "5 лет 2 месяца"
])

# Применение функции
data_months = data.apply(get_experience)

print(data_months)

0    41
1    84
2    10
3    24
4    62
dtype: int64

Задание 5.2

При преобразовании столбцов таблицы о недвижимости к типу category мы оставили без внимания столбец Suburb (пригород). Давайте исправим это.
С помощью метода info() узнайте, сколько памяти занимает таблица melb_df.
Преобразуйте признак Suburb следующим образом: оставьте в столбце только 119 наиболее популярных пригородов, остальные замените на 'other'.
Приведите данные в столбце Suburb к категориальному типу.
В качестве ответа запишите разницу между объёмом занимаемой памяти до преобразования (который мы получили ранее в модуле) и после него в Мб. Ответ округлите до десятых.

In [ ]:
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype         
---  ------         --------------  -----         
 0   Suburb         13580 non-null  object        
 1   Rooms          13580 non-null  int64         
 2   Type           13580 non-null  category      
 3   Price          13580 non-null  float64       
 4   Method         13580 non-null  category      
 5   SellerG        13580 non-null  object        
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64       
 8   Postcode       13580 non-null  int64         
 9   Bedroom        13580 non-null  int64         
 10  Bathroom       13580 non-null  int64         
 11  Car            13580 non-null  int64         
 12  Landsize       13580 non-null  float64       
 13  BuildingArea   13580 non-null  float64       
 14  YearBuilt      13580 non-null  category      
 15  CouncilArea    12211 non-null  category      
 16  Lattitude      13580 non-null  float64       
 17  Longtitude     13580 non-null  float64       
 18  Regionname     13580 non-null  category      
 19  Propertycount  13580 non-null  int64         
...
 24  StreetType     13580 non-null  category      
 25  Weekend        13580 non-null  category      
dtypes: category(9), datetime64[ns](1), float64(8), int64(6), object(2)
memory usage: 1.9+ MB
Output is truncated. View as a scrollable element or open in a text editor. Adjust cell output settings...
None

In [ ]:
# Определяем 119 самых популярных пригородов
top_Suburb = melb_df['Suburb'].value_counts().nlargest(119).index

# Заменяем все остальные пригороды на 'other'
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in top_Suburb else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category') # преобразуем тип столбца
display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype         
---  ------         --------------  -----         
 0   Suburb         13580 non-null  category      
 1   Rooms          13580 non-null  int64         
 2   Type           13580 non-null  category      
 3   Price          13580 non-null  float64       
 4   Method         13580 non-null  category      
 5   SellerG        13580 non-null  object        
 6   Date           13580 non-null  datetime64[ns]
 7   Distance       13580 non-null  float64       
 8   Postcode       13580 non-null  int64         
 9   Bedroom        13580 non-null  int64         
 10  Bathroom       13580 non-null  int64         
 11  Car            13580 non-null  int64         
 12  Landsize       13580 non-null  float64       
 13  BuildingArea   13580 non-null  float64       
 14  YearBuilt      13580 non-null  category      
 15  CouncilArea    12211 non-null  category      
 16  Lattitude      13580 non-null  float64       
 17  Longtitude     13580 non-null  float64       
 18  Regionname     13580 non-null  category      
 19  Propertycount  13580 non-null  int64         
...
 24  StreetType     13580 non-null  category      
 25  Weekend        13580 non-null  category      
dtypes: category(10), datetime64[ns](1), float64(8), int64(6), object(1)
memory usage: 1.8+ MB
Output is truncated. View as a scrollable element or open in a text editor. Adjust cell output settings...
None

Ответ: было 1.9 стало 1.8 = уменьшилось на 0.1

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

Задание 6.1

Сколько пропусков в столбце start station id?

In [86]:
import pandas as pd

# Читаем данные
data_citibike_tripdata = pd.read_csv('data/citibike-tripdata.csv', sep=',')
melb_st = data_citibike_tripdata.copy()
display(melb_st.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

Ответ: строка (3) 300000-299831 = 169

Задание 6.2

Какой тип данных имеют столбцы starttime и stoptime?

Ответ: object

Задание 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [87]:
display(round(melb_st['start station id'].value_counts().idxmax()))

281

Задание 6.4

Велосипед с каким идентификатором является самым популярным?

In [88]:
display(round(melb_st['bikeid'].value_counts().idxmax()))

33887

Задание 6.5

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ

In [89]:
# Подсчитываем количество клиентов каждого типа
usertype_counts = melb_st['usertype'].value_counts()

# Определяем преобладающий тип
dominant_usertype = usertype_counts.idxmax()

# Вычисляем долю преобладающего типа
dominant_share = usertype_counts.max() / usertype_counts.sum()

# Выводим округленный результат
display(usertype_counts)
display(dominant_usertype)
display(round(dominant_share, 2))

usertype
Subscriber    232202
Customer       67798
Name: count, dtype: int64

'Subscriber'

0.77

Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [92]:
# Подсчитываем количество спортцменов каждого типа
gender_counts = melb_st['gender'].value_counts()

# Определяем преобладающий тип
dominant_gender = gender_counts.idxmax()

# Выводим результат
display(gender_counts)
display(dominant_gender)

gender
1    183582
2     74506
0     41912
Name: count, dtype: int64

1

starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [93]:
# Утверждение A: Число уникальных стартовых и конечных стоянок не равны
unique_start_stations = melb_st['start station id'].nunique()
unique_end_stations = melb_st['end station id'].nunique()
statement_A = unique_start_stations != unique_end_stations # знак != неравенства

# Утверждение B: Минимальный возраст клиента = 10 лет
current_year = 2018  # Год данных
melb_st['age'] = current_year - melb_st['birth year']
statement_B = melb_st['age'].min() == 10

# Утверждение C: Самая непопулярная стартовая стоянка — "Eastern Pkwy & Washington Ave"
least_popular_start = melb_st['start station name'].value_counts().idxmin()
statement_C = least_popular_start == "Eastern Pkwy & Washington Ave"

# Утверждение D: Наибольшее количество поездок завершается на "Liberty Light Rail"
most_popular_end = melb_st['end station name'].value_counts().idxmax()
statement_D = most_popular_end == "Liberty Light Rail"

# Вывод результатов
print(f"A: {statement_A}")
print(f"B: {statement_B}")
print(f"C: {statement_C}")
print(f"D: {statement_D}")

A: True
B: False
C: True
D: False

Задание 6.8

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;

In [94]:
melb_st.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1,24

In [95]:
# Удалим столбцы из таблицы с помощью метода drop(). 
# Выведем первые пять строк таблицы и убедимся, что всё прошло успешно.
melb_st = melb_st.drop(['start station id', 'start station name', 'end station id', 'end station name'], axis=1)
melb_st.head()

#Ответ: было 16 стало 12 столбцов

,starttime,stoptime,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,40.732264,-73.998522,40.693261,-73.968896,25577,Subscriber,1980,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,40.693830,-73.990539,40.691029,-73.991834,34377,Subscriber,1969,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,40.761227,-73.960940,40.678724,-73.995991,30496,Subscriber,1975,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,40.713079,-73.998512,40.713342,-74.009355,28866,Subscriber,1984,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,40.736494,-73.997044,40.734011,-74.002939,20943,Customer,1994,1,24

Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

birth year — год рождения клиента;
заменить на age

In [96]:
# Заменяем birth year на age
melb_st['age'] = 2018 - melb_st['birth year']

# Удаляем столбец birth year
melb_st.drop(columns=['birth year'], inplace=True)

# Фильтруем поездки клиентов старше 60 лет и считаем их количество
count_old_riders = melb_st[melb_st['age'] > 60].shape[0]

print("Количество поездок, совершённых клиентами старше 60 лет:", count_old_riders)

Количество поездок, совершённых клиентами старше 60 лет: 11837

Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [98]:
# Преобразуем столбцы starttime и stoptime в datetime
melb_st['starttime'] = pd.to_datetime(melb_st['starttime'])
melb_st['stoptime'] = pd.to_datetime(melb_st['stoptime'])

# Вычисляем длительность поездки в минутах
melb_st['trip duration'] = (melb_st['stoptime'] - melb_st['starttime']).dt.total_seconds() // 60

# Длительность поездки под индексом 3
trip_duration_3 = int(melb_st.loc[3, 'trip duration'])

print("Длительность поездки под индексом 3:", trip_duration_3, "минут")

Длительность поездки под индексом 3: 7 минут

Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные

In [99]:
# Преобразуем starttime в datetime
melb_st['starttime'] = pd.to_datetime(melb_st['starttime'])

# Создаём признак weekend (1 - если суббота или воскресенье, 0 - иначе)
melb_st['weekend'] = melb_st['starttime'].dt.weekday.isin([5, 6]).astype(int)

# Подсчёт поездок, начавшихся в выходные
weekend_trips_count = melb_st['weekend'].sum()

print("Количество поездок, начавшихся в выходные:", weekend_trips_count)

Количество поездок, начавшихся в выходные: 115135

Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [100]:
# Преобразуем starttime в datetime
melb_st['starttime'] = pd.to_datetime(melb_st['starttime'])

# Извлекаем час начала поездки
melb_st['hour'] = melb_st['starttime'].dt.hour

# Создаём признак time_of_day
def get_time_of_day(hour):
    if 0 <= hour <= 6:
        return 'night'
    elif 6 < hour <= 12:
        return 'morning'
    elif 12 < hour <= 18:
        return 'day'
    else:
        return 'evening'

melb_st['time_of_day'] = melb_st['hour'].apply(get_time_of_day)

# Подсчёт количества поездок днём и ночью
day_trips = (melb_st['time_of_day'] == 'day').sum()
night_trips = (melb_st['time_of_day'] == 'night').sum()

# Во сколько раз дневных поездок больше ночных
ratio = round(day_trips / night_trips)

print("Во сколько раз дневных поездок больше ночных:", ratio)

Во сколько раз дневных поездок больше ночных: 9

Задание 1.1

Преобразуйте столбец Date в формат datetime и выделите квартал (quarter) продажи объектов недвижимости. Найдите второй по популярности квартал продажи. В качестве ответа запишите число объектов, проданных в этом квартале.

In [104]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_fe.csv')
melb_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekdaySale,StreetType,Weekend
0,Abbotsford,2,house,1480000.0,S,Biggin,2016-03-12,2.5,3067,2,...,144.9984,Northern Metropolitan,4019,25.20,-0.231707,3,46,5,St,1
1,Abbotsford,2,house,1035000.0,S,Biggin,2016-04-02,2.5,3067,2,...,144.9934,Northern Metropolitan,4019,15.80,-0.327660,4,116,5,St,1
2,Abbotsford,3,house,1465000.0,SP,Biggin,2017-04-03,2.5,3067,3,...,144.9944,Northern Metropolitan,4019,18.75,0.056338,4,117,0,St,0
3,Abbotsford,3,house,850000.0,PI,Biggin,2017-04-03,2.5,3067,3,...,144.9969,Northern Metropolitan,4019,15.75,0.145455,4,47,0,other,0
4,Abbotsford,4,house,1600000.0,VB,Nelson,2016-04-06,2.5,3067,3,...,144.9941,Northern Metropolitan,4019,17.75,0.083969,4,2,2,St,0

In [109]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])  # Преобразуем в datetime
melb_df['Quarter'] = melb_df['Date'].dt.quarter   # Выделяем квартал

# Подсчитываем количество продаж по кварталам
quarter_counts = melb_df['Quarter'].value_counts()

# Находим второй по популярности квартал
second_popular_quarter_sales = quarter_counts.iloc[1]  # Второе по величине значение

print(second_popular_quarter_sales)  # Вывод ответа

4359

Задание 1.2

Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car.
В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [133]:

excluded_columns = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']

# Фильтруем столбцы с менее чем 150 уникальными значениями, исключая заданные
categorical_columns = [
    col for col in melb_df.columns 
    if col not in excluded_columns and melb_df[col].nunique() < 150
]

# Преобразуем выбранные столбцы в category
for col in categorical_columns:
    melb_df[col] = melb_df[col].astype('category')

# Подсчитываем количество категориальных столбцов
category_columns_count = melb_df.select_dtypes(include='category').shape[1]

print(category_columns_count)  # Должно вывести 10

11

Задание 2.2

Произведите сортировку столбца AreaRatio по убыванию. Затем отсортируйте данные по площади здания (Area) в порядке убывания. После сортировки замените индексы таблицы на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

Щштибка в ответе и задаче (у них не отсортировано по площади здания!!!!)

In [141]:
# Сортируем по AreaRatio (убывание), затем по Area (убывание)
df_sorted = melb_df.sort_values(by=['AreaRatio', 'BuildingArea'], ascending=[False, False])

# Переопределяем индексы
df_sorted.reset_index(drop=True, inplace=True)

# Получаем значение площади здания в строке 1558
building_area_1558 = round(df_sorted.loc[1558, 'BuildingArea'])

print(building_area_1558)

65

In [139]:
int(melb_df.sort_values(
    by='AreaRatio',
    ignore_index=True,
    ascending=False,
).loc[1558, 'BuildingArea'])

126

Сортирует melb_df по AreaRatio в порядке убывания.

Использует ignore_index=True, чтобы сбросить старые индексы сразу после сортировки.

Обращается к 1558-й строке и извлекает BuildingArea.

Преобразует в int (целое число) перед возвратом.

💡 Ключевое отличие: этот код не выполняет двойную сортировку (сначала по AreaRatio, затем по BuildingArea). Он сортирует только по AreaRatio.

In [142]:
# Сортируем по AreaRatio (убывание), затем по Area (убывание)
df_sorted = melb_df.sort_values(by=['AreaRatio'], ascending=[False])

# Переопределяем индексы
df_sorted.reset_index(drop=True, inplace=True)

# Получаем значение площади здания в строке 1558
building_area_1558 = round(df_sorted.loc[1558, 'BuildingArea'])

print(building_area_1558)

126

Задание 2.3

Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [147]:
# Фильтруем только таунхаусы с количеством комнат больше 2
townhouses = melb_df[(melb_df['Type'] == 'townhouse') & (melb_df['Rooms'] > 2)]

# Сортируем по возрастанию Rooms и по убыванию MeanRoomsSquare
townhouses_sorted = townhouses.sort_values(
    by=['Rooms', 'MeanRoomsSquare'], 
    ascending=[True, False]
)

# Сбрасываем индексы
townhouses_sorted.reset_index(drop=True, inplace=True)

# Получаем цену объекта в строке 18
price_18 = int(townhouses_sorted.loc[18, 'Price'])

print(price_18)

1300000

In [148]:
# Задание 2.3

mask1 = melb_df['Type'] == 'townhouse'
mask2 = melb_df['Rooms'] > 2
int(melb_df[mask1&mask2].sort_values(
    by=['Rooms', 'MeanRoomsSquare'],
    ascending=[True, False],
    ignore_index=True
).loc[18, 'Price'])

1300000

Задание 3.1

Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

In [152]:
melb_df.groupby('Rooms')['Price'].agg(
    ['mean']
).sort_values(by='mean', ascending=False)

               mean
Rooms
7      1.920700e+06
5      1.870260e+06
6      1.849366e+06
8      1.602750e+06
4      1.445282e+06
3      1.076081e+06
10     9.000000e+05
2      7.750812e+05
1      4.338245e+05

Метод	Статистический параметр
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

Данные представляют собой таблицу, в которой содержится 23 столбца:

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе, выставленных на продажу
Coordinates — широта и долгота, объединённые в кортеж

Задание 3.2

Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)?
В качестве ответа запишите название этого региона.

In [154]:
melb_df.groupby('Regionname')['Lattitude'].agg(
    ['std']
).sort_values(by='std', ascending=True)

                                 std
Regionname
Western Victoria            0.011579
Southern Metropolitan       0.043080
Eastern Metropolitan        0.047890
Northern Metropolitan       0.049639
Western Metropolitan        0.051251
South-Eastern Metropolitan  0.073411
Northern Victoria           0.084455
Eastern Victoria            0.147067

Задание 3.3

Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года?
Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период.
Не забудьте перевести даты в формат datetime.

In [155]:
date1 = pd.to_datetime('2017-05-01')
date2 = pd.to_datetime('2017-09-01')

# Фильтруем данные по дате
mask = (date1 <= melb_df['Date']) & (melb_df['Date'] <= date2)

# Определяем компанию с минимальной выручкой
min_revenue_seller = (
    melb_df[mask]
    .groupby('SellerG')['Price']
    .sum()
    .idxmin()
)

print("Риелторская компания с наименьшей выручкой:", min_revenue_seller)

Риелторская компания с наименьшей выручкой: LITTLE

In [156]:
date1 = pd.to_datetime('2017-05-01')
date2 = pd.to_datetime('2017-09-01')
mask = (date1 <= melb_df['Date']) & (melb_df['Date']<= date2)
melb_df[mask].groupby('SellerG')['Price'].sum().sort_values(ascending=True)

SellerG
LITTLE             2742000.0
Cayzer             4439000.0
Burnham            4550500.0
Moonee             7328000.0
Thomson            8332000.0
Bells              8656000.0
Alexkarbon        10985000.0
McDonald          14637500.0
Rendina           15422276.0
Nick              16890000.0
Douglas           18341000.0
Buckingham        19033000.0
C21               19515000.0
Eview             19791500.0
Collins           20217000.0
Philip            22051800.0
Chisholm          23225000.0
Williams          23297000.0
Love              23365500.0
Purplebricks      23401000.0
O'Brien           23855508.0
HAR               25568000.0
Village           26473000.0
RW                29261000.0
Raine             30687700.0
Stockdale         35409800.0
Sweeney           36882750.0
Gary              39138400.0
Hodges            43231000.0
YPA               46354350.0
Miles             47582000.0
Kay               48569500.0
RT                50498000.0
Brad              55955000.0
Jas               59281600.0
Harcourts         68720250.0
McGrath           78386500.0
Greg              85621000.0
Woodards          85977500.0
Noel              88129800.0
Fletchers        108847700.0
Biggin           110429500.0
Buxton           219104000.0
Ray              249572986.0
Marshall         253957888.0
hockingstuart    282834310.0
Barry            296723050.0
other            365038432.0
Nelson           379767500.0
Jellis           414121833.0
Name: Price, dtype: float64

Задание 4.2

Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая?
В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

In [157]:
melb_df.pivot_table(
    values='BuildingArea',
    index='Type',
    columns='Rooms',
    aggfunc=['median'],
    fill_value=0
)

          median
Rooms         1    2    3      4    5    6      7    8    10
Type
house      126.0  126  126  141.0  177  126  216.5  126  126
townhouse   88.0  114  126  159.5  152    0    0.0    0    0
unit        69.5  110  126  126.0    0  171    0.0  126    0

Задание 4.3

Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type).
Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.

In [174]:
pivot = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
)
max_unit_price = pivot['unit'].max()
print(pivot[pivot['unit'] == max_unit_price].index[0])

Nick

## Объединение DataFrame: знакомимся с новыми данными

В этой части модуля мы будем работать с популярным датасетом MovieLens, в котором собраны логи некоторой рекомендательной системы фильмов.

- userId — уникальный идентификатор пользователя, который выставил оценку;
- movieId — уникальный идентификатор фильма;
- rating — рейтинг фильма.

- date — дата и время выставления оценки фильму.

- movieId — уникальный идентификатор фильма;
- title — название фильма и год его выхода;
- genres — жанры фильма.

Итак, представим, что нам надо получить единую таблицу, в которой будут собраны рейтинги, даты выставления рейтингов, а также информация о фильмах. Вот как мы будем действовать:

1
Склеим таблицы ratings1 и ratings2 в единую структуру.

2
К полученной таблице с рейтингами подсоединим столбец с датой проставления рейтинга, склеив столбцы таблиц между собой.

3
Присоединим к нашей таблице информацию о названиях и жанрах фильмов.

Задание 5.2

Сколько уникальных (по названию) фильмов представлено в таблице movies?

Метод	Статистический параметр
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

In [194]:
import pandas as pd

movies_df = pd.read_csv('data/movies.csv')
movies_df.head()
# Ответ:  9737

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [196]:
movies_df['title'].nunique()

9737

Задание 5.3

Сколько уникальных пользователей в таблице ratings1?

In [197]:
import pandas as pd

ratings1_df = pd.read_csv('data/ratings1.csv')
ratings1_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [199]:
ratings1_df['userId'].nunique()

274

Задание 5.4

В каком году было выставлено больше всего оценок?
Для ответа на этот вопрос используйте таблицу dates.

In [200]:
import pandas as pd

dates_df = pd.read_csv('data/dates.csv')
dates_df.head()

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04
3  2000-07-30 19:03:35
4  2000-07-30 18:48:51

In [209]:
dates_df['date'] = pd.to_datetime(dates_df['date'])  # Преобразуем в datetime
dates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

In [211]:
years_sold = dates_df['date'].dt.year
years_sold.value_counts()

date
2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: count, dtype: int64

In [ ]:
melb_df['MonthSale'].value_counts(normalize=True)

years_sold = melb_df['Date'].dt.year

Задание 6.3
В ваше распоряжение предоставлена директория users ('./Root/users'). В данной директории содержатся csv-файлы, в каждом из которых хранится информация об идентификаторах пользователей (user_id) и ссылках на их фотографии (image_url). Количество файлов в директории может быть любым.

Вам необходимо написать функцию concat_user_files(path), параметром которой является path — путь до директории.

Функция должна:

Объединить информацию из всех csv-файлов в единый DataFrame.
Удалить дубликаты.
Обновить индексы результирующей таблицы.
Отсортировать пользователей по числовой части user_id (игнорируя буквенную часть).
Например, если в директории users есть несколько csv-файлов, то результирующая таблица должна выглядеть так:

In [ ]:
def concat_users_files(path):
    data = pd.DataFrame() # Создаётся пустой DataFrame, в который будут загружаться данные.
    file_names = os.listdir(path) # os.listdir(path) получает список всех файлов в указанной директории path.
    file_names.sort() # Сортирует список файлов в алфавитном порядке (чтобы файлы обрабатывались в одном порядке при каждом запуске).
    for file in file_names: # Цикл проходит по каждому файлу в списке.
        # Читает CSV-файл в tmp_data с помощью pd.read_csv().
        # path + '/' + file — путь к файлу.
        tmp_data = pd.read_csv(path + '/' + file)
        # pd.concat() объединяет старый data с tmp_data, добавляя строки в конец (axis=0).
        # ignore_index=True сбрасывает индексы, чтобы они шли подряд.
        data = pd.concat([data, tmp_data], axis=0, ignore_index=True)
    data = data.drop_duplicates() # Удаляет дубликаты строк, если какие-то данные повторяются в разных файлах.
    return data # Возвращает итоговый DataFrame.

Задание 7.5 

Даны две таблицы: items_df, в которой содержится информация о наличии товаров на складе, и purchase_df с данными о покупках товаров.

Первая:

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
Вторая:

purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
Информация в таблицах представлена в виде следующих столбцов:

item_id — идентификатор модели;
vendor — производитель модели;
stock_count — имеющееся на складе количество данных моделей (в штуках);
purchase_id — идентификатор покупки;
price — стоимость модели в покупке.
Вам необходимо сделать следующее:

Сформируйте DataFrame merged, так чтобы после объединения purchase_df и items_df остались модели, которые учтены на складе и имели продажи.

На основе таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, имеющихся на складе. Результат занесите в переменную income.

In [222]:
import pandas as pd

items_df = pd.DataFrame({
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
            'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
            'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
        })

purchase_df = pd.DataFrame({
            'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
            'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
            'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
        })

# Объединяем таблицы, оставляя только те товары, которые есть и на складе,
# и в продажах, для этого используем inner (пересечение),
merged = items_df.merge(purchase_df, on='item_id', how='inner')

# Вычисляем потенциальную выручку
income = (merged['price'] * merged['stock_count']).sum()

print(income)  # Выведем сумму

# 19729490

19729490

In [235]:
import pandas as pd

ratings_movies = pd.read_csv('data/ratings_movies.csv')
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Для решения задач нам понадобится выделить из признака title год выпуска фильма. Для этого напишем функцию get_year_release(arg).

In [249]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

→ Модуль re предназначен для поиска шаблонов в тексте и встроен в язык, поэтому не нуждается в установке.

Из модуля re нам понадобится только функция findall(), которая позволяет найти в строке все слова, удовлетворяющие шаблону. Мы находим в строке с названием фильма шаблон "(DDDD)" — четыре цифры, обёрнутых в скобки, что соответствует году выпуска фильма. Если такого шаблона не было найдено (год выпуска не указан), функция возвращает None (в таблице это будет помечено как пропуск).

Задание 8.1

Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
У скольких фильмов не указан год их выпуска?

In [250]:
# Добавляем новый столбец
ratings_movies["year_release"] = ratings_movies["title"].apply(get_year_release)

# Считаем количество фильмов без года выпуска
missing_year_count = ratings_movies["year_release"].isna().sum()

print(f"Число фильмов без указанного года выпуска: {missing_year_count}")

Число фильмов без указанного года выпуска: 18

Задание 8.2

Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
В качестве ответа запишите название этого фильма без указания года его выпуска.

In [251]:
# Фильтруем фильмы 1999 года
df_1999 = ratings_movies[ratings_movies["year_release"] == 1999]

# Вычисляем средний рейтинг по фильмам
mean_ratings = df_1999.groupby("title")["rating"].mean()

# Находим фильм с наименьшим средним рейтингом
worst_movie = mean_ratings.idxmin()

print(worst_movie)

Bloodsport: The Dark Kumite (1999)

Задание 8.3

Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)?
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [252]:
# Фильтруем фильмы 2010 года
df_2010 = ratings_movies[ratings_movies["year_release"] == 2010]

# Вычисляем средний рейтинг по комбинаций жанров (genres) 
mean_ratings_2010 = df_2010.groupby("genres")["rating"].mean()

# Находим комбинацию жанров (genres) с наименьшим средним рейтингом
worst_movie_2010 = mean_ratings_2010.idxmin()

print(worst_movie_2010)

Action|Sci-Fi

Задание 8.4

Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [253]:
# Группируем по userId и считаем количество уникальных genres
unique_genres_count = ratings_movies.groupby("userId")["genres"].nunique()

# Находим userId с максимальным количеством уникальных жанров
most_diverse_user = unique_genres_count.idxmax()

print(most_diverse_user)

599

Задание 8.5

Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая.
В качестве ответа укажите идентификатор этого пользователя.
Чтобы рассчитать несколько параметров для каждого пользователя (количество оценок и среднюю оценку), можно воспользоваться методом agg() на сгруппированных данных.

In [254]:
# Группируем по userId и считаем количество оценок и средний рейтинг
#.count()	Количество непустых значений
#.mean()	Среднее значение
user_stats = ratings_movies.groupby("userId")["rating"].agg(["count", "mean"])

# Находим минимальное количество оценок
min_ratings = user_stats["count"].min()

# Фильтруем пользователей, у которых количество оценок равно минимальному
filtered_users = user_stats[user_stats["count"] == min_ratings]

# Находим пользователя с максимальным средним рейтингом среди них
best_user = filtered_users["mean"].idxmax()

print(best_user)

53

Задание 8.6

Найдите сочетание жанров (genres) за 2018 год, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.
Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [262]:
# Фильтруем фильмы 2010 года
df_2018 = ratings_movies[ratings_movies["year_release"] == 2018]

# Группируем по жанрам и считаем средний рейтинг + количество оценок
#.count()	Количество непустых значений
#.mean()	Среднее значение
genres_stats = df_2018.groupby("genres")["rating"].agg(["mean", "count"])

# Фильтруем сочетания жанров с количеством оценок > 10
filtered_genres = genres_stats[genres_stats["count"] > 10]

# Находим сочетание с максимальным средним рейтингом
best_genre = filtered_genres["mean"].idxmax()

print(best_genre)

Action|Adventure|Sci-Fi

Задание 8.7

Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [263]:
# Добавляем новый столбец
ratings_movies["year_rating"] = pd.to_datetime(ratings_movies["date"]).dt.year

# Создаем сводную таблицу: средний рейтинг по годам и жанрам
pivot_table = ratings_movies.pivot_table(values="rating", index="year_rating", columns="genres", aggfunc="mean")

# Выводим таблицу
print(pivot_table)

genres       (no genres listed)    Action  Action|Adventure  \
year_rating
1996                        NaN  2.730769          3.454545
1997                        NaN  3.538462          4.150000
1998                        NaN       NaN          4.200000
1999                        NaN       NaN          4.000000
2000                        NaN  2.588235          3.738462
2001                        NaN  3.000000          3.500000
2002                        NaN  2.750000          4.304348
2003                        NaN  3.833333          3.277778
2004                        NaN  2.700000          4.136364
2005                        NaN  3.357143          3.413043
2006                        NaN  2.166667          4.090909
2007                        NaN  2.583333          3.666667
2008                        NaN  3.000000          3.656250
2009                        NaN       NaN          3.714286
2010                        NaN  3.500000          3.437500
2011                        NaN  4.500000          3.888889
2012                        NaN  2.625000          3.900000
2013                        NaN  2.500000          3.833333
2014                        NaN       NaN          3.875000
2015                   0.500000  3.100000          3.560976
2016                   3.500000  3.545455          3.722222
2017                   3.000000  2.637931          3.527778
2018                   3.676471  2.588235          3.397436

genres       Action|Adventure|Animation  Action|Adventure|Animation|Children  \
year_rating
1996                                NaN                                  NaN
1997                                NaN                                  NaN
1998                                NaN                                  NaN
1999                                NaN                                  NaN
2000                                NaN                                  NaN
2001                                NaN                                  NaN
2002                                NaN                                  NaN
2003                                NaN                                  NaN
2004                                NaN                                  NaN
2005                                NaN                                  NaN
2006                                NaN                                  NaN
2007                                NaN                                  NaN
2008                                NaN                                  NaN
2009                                NaN                                  NaN
2010                                NaN                                  NaN
2011                                NaN                                  NaN
2012                                NaN                             4.000000
2013                                NaN                             3.000000
2014                              3.000                             3.500000
2015                              3.800                             3.666667
2016                              3.750                             3.833333
2017                              3.375                             3.500000
2018                              3.650                             3.166667

genres       Action|Adventure|Animation|Children|Comedy  \
year_rating
1996                                                NaN
1997                                                NaN
1998                                                NaN
1999                                                NaN
2000                                                NaN
2001                                                NaN
2002                                                NaN
2003                                                NaN
2004                                           4.000000
2005                                           4.107143
2006                                           3.833333
2007                                           3.846154
2008                                           4.125000
2009                                           3.900000
2010                                           4.333333
2011                                           3.500000
2012                                           3.785714
2013                                           4.333333
2014                                           3.250000
2015                                           3.565217
2016                                           3.925000
2017                                           3.676471
2018                                           3.741935

genres       Action|Adventure|Animation|Children|Comedy|Fantasy  \
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                  3.000000
2008                                                  4.000000
2009                                                       NaN
2010                                                       NaN
2011                                                       NaN
2012                                                       NaN
2013                                                       NaN
2014                                                  3.833333
2015                                                  3.833333
2016                                                  3.388889
2017                                                  3.700000
2018                                                  4.142857

genres       Action|Adventure|Animation|Children|Comedy|IMAX  \
year_rating
1996                                                     NaN
1997                                                     NaN
1998                                                     NaN
1999                                                     NaN
2000                                                     NaN
2001                                                     NaN
2002                                                     NaN
2003                                                     NaN
2004                                                     NaN
2005                                                     NaN
2006                                                     NaN
2007                                                     NaN
2008                                                     NaN
2009                                                3.250000
2010                                                3.500000
2011                                                     NaN
2012                                                3.550000
2013                                                5.000000
2014                                                3.500000
2015                                                3.375000
2016                                                3.666667
2017                                                1.000000
2018                                                3.700000

genres       Action|Adventure|Animation|Children|Comedy|Romance  \
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN
2001                                                       NaN
2002                                                       NaN
2003                                                       NaN
2004                                                       NaN
2005                                                       NaN
2006                                                       NaN
2007                                                       NaN
2008                                                       NaN
2009                                                       NaN
2010                                                  3.000000
2011                                                       NaN
2012                                                  4.000000
2013                                                       NaN
2014                                                  4.000000
2015                                                  2.333333
2016                                                  1.000000
2017                                                  1.000000
2018                                                  2.500000

genres       Action|Adventure|Animation|Children|Comedy|Sci-Fi  ...  \
year_rating                                                     ...
1996                                                       NaN  ...
1997                                                       NaN  ...
1998                                                       NaN  ...
1999                                                       NaN  ...
2000                                                       NaN  ...
2001                                                       NaN  ...
2002                                                       NaN  ...
2003                                                       NaN  ...
2004                                                       NaN  ...
2005                                                       NaN  ...
2006                                                       3.0  ...
2007                                                       2.8  ...
2008                                                       3.5  ...
2009                                                       2.5  ...
2010                                                       NaN  ...
2011                                                       4.0  ...
2012                                                       NaN  ...
2013                                                       NaN  ...
2014                                                       NaN  ...
2015                                                       2.5  ...
2016                                                       4.0  ...
2017                                                       2.0  ...
2018                                                       4.0  ...

genres       Romance|Thriller  Romance|War  Romance|Western    Sci-Fi  \
year_rating
1996                      NaN          NaN              NaN       NaN
1997                      NaN          NaN              NaN       NaN
1998                      NaN          NaN              NaN       NaN
1999                    2.000          NaN              NaN       NaN
2000                    4.000          NaN              3.0  3.416667
2001                      NaN          NaN              3.0  2.500000
2002                    3.000          NaN              NaN  3.750000
2003                    3.375          2.5              NaN  2.333333
2004                    3.000          3.0              3.5  2.125000
2005                    2.000          NaN              NaN  3.000000
2006                      NaN          NaN              NaN  0.500000
2007                    1.500          NaN              2.5  3.375000
2008                      NaN          NaN              NaN  3.125000
2009                      NaN          NaN              NaN  2.000000
2010                      NaN          NaN              NaN  4.000000
2011                      NaN          NaN              NaN  3.500000
2012                    2.500          NaN              NaN  4.166667
2013                      NaN          NaN              NaN  1.500000
2014                      NaN          NaN              NaN  2.500000
2015                      NaN          NaN              NaN  2.900000
2016                    2.500          NaN              NaN  3.555556
2017                    3.000          NaN              NaN  3.864865
2018                      NaN          NaN              NaN  3.128571

genres       Sci-Fi|IMAX  Sci-Fi|Thriller  Sci-Fi|Thriller|IMAX  Thriller  \
year_rating
1996                 NaN         2.666667                   NaN  3.838095
1997                 NaN         3.400000                   NaN  3.923077
1998                 NaN              NaN                   NaN  3.800000
1999                 NaN         4.000000                   NaN  3.700000
2000                 NaN         2.142857                   NaN  3.087912
2001                 NaN         2.500000                   NaN  3.477273
2002                 NaN         3.600000                   NaN  3.583333
2003                 NaN         3.142857                   NaN  3.250000
2004                 NaN              NaN                   NaN  3.464286
2005                 NaN         2.750000                   NaN  3.411765
2006                 NaN         4.500000                   NaN  3.735294
2007                 NaN         2.833333                   NaN  3.421875
2008                 NaN         3.000000                   NaN  3.333333
2009                 NaN         4.000000                   NaN  2.964286
2010                 NaN         2.500000                   NaN  2.833333
2011                 NaN         1.833333              4.000000  3.625000
2012                 NaN         3.500000              3.666667  3.083333
2013                 NaN         3.833333              4.000000  3.666667
2014            5.000000              NaN              4.000000  4.000000
2015            4.071429         3.764706              4.000000  2.911765
2016            3.807692         3.916667              3.666667  3.432432
2017            4.264706         3.750000              2.500000  3.152174
2018            3.500000         3.562500                   NaN  3.296296

genres       War   Western
year_rating
1996         NaN  3.117647
1997         NaN  3.000000
1998         NaN       NaN
1999         4.5  4.000000
2000         3.0  4.058824
2001         3.0  3.111111
2002         3.5  3.000000
2003         3.0  4.000000
2004         3.0  3.800000
2005         NaN  4.500000
2006         NaN  3.625000
2007         NaN  3.000000
2008         NaN  4.000000
2009         4.0  3.375000
2010         NaN  3.666667
2011         NaN  4.000000
2012         NaN  4.100000
2013         NaN  4.000000
2014         NaN  4.000000
2015         NaN  3.900000
2016         NaN  3.958333
2017         NaN  2.933333
2018         NaN  3.611111

[23 rows x 951 columns]

In [259]:
ratings_movies.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres,year_release,year_rating
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995.0,2000
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance,1995.0,2000
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller,1995.0,2000
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995.0,2000
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995.0,2000

Дано два файла:

- orders.csv, содержащий данные о заказах;
- products.csv, содержащий данные о товарах.

In [285]:
covid_data = pd.read_csv('data/covid_data.csv')
melb_df = melb_data.copy()
display(covid_data.head())

         date province/state country  confirmed  deaths  recovered
0  01/22/2020          Anhui   China        1.0     0.0        0.0
1  01/22/2020        Beijing   China       14.0     0.0        0.0
2  01/22/2020      Chongqing   China        6.0     0.0        0.0
3  01/22/2020         Fujian   China        1.0     0.0        0.0
4  01/22/2020          Gansu   China        0.0     0.0        0.0

In [286]:
vaccinations_data = pd.read_csv('data/country_vaccinations.csv')
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]
display(vaccinations_data.head())

,country,date,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,Afghanistan,2021-02-22,0.0,0.0,0.0,NaN,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi..."

In [287]:


# В таблице covid_data:

# 1
#Группируем таблицу по дате и названию страны и рассчитываем суммарные
# показатели по всем регионам. Тем самым переходим от данных по регионам 
# к данным по странам:

covid_data = covid_data.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()

#2
#Преобразуем даты в формат datetime с помощью функции pd.to_datetime():

covid_data['date'] = pd.to_datetime(covid_data['date'])

#3
#Создадим признак больных на данный момент (active). 
# Для этого вычтем из общего числа зафиксированных случаев число смертей
# и число выздоровевших пациентов:

covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']

#4
# Создадим признак ежедневного прироста числа заболевших, умерших 
# и выздоровевших людей. Для этого отсортируем данные по названиям стран,
# а затем по датам. После этого произведём группировку по странам и рассчитаем
# разницу между «вчера и сегодня» с помощью метода diff():

covid_data = covid_data.sort_values(by=['country', 'date'])
covid_data['daily_confirmed'] = covid_data.groupby('country')['confirmed'].diff()
covid_data['daily_deaths'] = covid_data.groupby('country')['deaths'].diff()
covid_data['daily_recovered'] = covid_data.groupby('country')['recovered'].diff()

In [288]:
# В таблице vaccinations_data достаточно будет преобразовать столбцы
# в формат datetime:

vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

Задание 3.1

За какой период представлены данные в таблице covid_data? В качестве ответа введите даты в формате datetime (без указания времени).
Введите ответ в следующем формате (без пробелов): ГГГГ-ММ-ДД-ГГГГ-ММ-ДД

In [289]:
# Преобразуем столбец с датами в формат datetime (если он еще не в этом формате)
covid_data['date'] = pd.to_datetime(covid_data['date'])

# Находим минимальную и максимальную дату
min_date = covid_data['date'].min().date()
max_date = covid_data['date'].max().date()

# Вывод в нужном формате
print(f"{min_date}-{max_date}")

2020-01-22-2021-05-29

Задание 3.2

За какой период представлены данные в таблице vaccinations_data? В качестве ответа введите даты в формате datetime без указания времени.
Введите ответ в следующем формате (без пробелов): ГГГГ-ММ-ДД-ГГГГ-ММ-ДД

In [290]:
# Преобразуем столбец с датами в формат datetime (если он еще не в этом формате)
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])

# Находим минимальную и максимальную дату
min_date_vac = vaccinations_data['date'].min().date()
max_date_vac = vaccinations_data['date'].max().date()

# Вывод в нужном формате
print(f"{min_date_vac}-{max_date_vac}")

2020-12-02-2021-09-06

Задание 3.3

С помощью метода merge() объедините таблицы covid_data и vaccinations_data по столбцам date и country.
Тип объединения выставьте так, чтобы в результирующую таблицу попали только наблюдения за период, вычисленный в задании 3.1. То есть в результирующую таблицу должны попасть все записи из таблицы covid_data и из её пересечения с vaccinations_data, но не более. Результат объединения занесите в переменную covid_df.
Сохраните таблицу covid_df — она понадобится нам в следующем юните.

Сколько строк и столбцов в таблице covid_df?
Введите ответ в виде двух чисел через дефис (например, 333-33): первое число — количество строк, второе число — количество столбцов.

In [293]:

# Определяем минимальную и максимальную дату из предыдущего задания
min_date = covid_data['date'].min()
max_date = covid_data['date'].max()
# Фильтрация данных из vaccinations_data по найденному периоду
vaccinations_data = vaccinations_data[(vaccinations_data['date'] >= min_date) & (vaccinations_data['date'] <= max_date)]

# Объединение таблиц по столбцам date и country с типом объединения "inner"
covid_df = covid_data.merge(vaccinations_data, on=['date', 'country'], how='left')

# Вывод количества строк и столбцов
print(f"{covid_df.shape[0]}-{covid_df.shape[1]}")

86785-16

В получившейся в задании 3.3 таблице covid_df создайте признаки death_rate — общий процент смертей среди зафиксированных случаев (летальность) и recover_rate — общий процент случаев выздоровления. Данные характеристики рассчитайте как отношение числа смертей (deaths) и числа выздоровлений (recovered) к числу зафиксированных случаев (confirmed) и умножьте результаты на 100%.

In [301]:
# Создание признаков летальности и выздоровления
covid_df['death_rate'] = (covid_df['deaths'] / covid_df['confirmed']) * 100
covid_df['recover_rate'] = (covid_df['recovered'] / covid_df['confirmed']) * 100

# Проверка на наличие бесконечности и NaN
covid_df['death_rate'].replace([float('inf'), -float('inf')], 0, inplace=True)
covid_df['recover_rate'].replace([float('inf'), -float('inf')], 0, inplace=True)
covid_df['death_rate'].fillna(0, inplace=True)
covid_df['recover_rate'].fillna(0, inplace=True)

# Просмотр первых строк новой таблицы
print(covid_df[['country', 'date', 'deaths', 'recovered', 'confirmed', 'death_rate', 'recover_rate']].head())

       country       date  deaths  recovered  confirmed  death_rate  \
0  Afghanistan 2020-02-24     0.0        0.0        1.0         0.0
1  Afghanistan 2020-02-25     0.0        0.0        1.0         0.0
2  Afghanistan 2020-02-26     0.0        0.0        1.0         0.0
3  Afghanistan 2020-02-27     0.0        0.0        1.0         0.0
4  Afghanistan 2020-02-28     0.0        0.0        1.0         0.0

   recover_rate
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0

Задание 3.4

Какова максимальная летальность в США (United States) за весь период? Ответ округлите до второго знака после запятой.

In [302]:
# Фильтрация данных по стране "United States"
us_data = covid_df[covid_df['country'] == 'United States']

# Нахождение максимальной летальности
max_death_rate = us_data['death_rate'].max()

# Округление до второго знака после запятой
max_death_rate = round(max_death_rate, 2)

print("Максимальная летальность в США:", max_death_rate)

Максимальная летальность в США: 7.19

Задание 3.5

Чему равен средний процент выздоровевших в России (Russia)? Ответ округлите до второго знака после запятой.

In [303]:
# Фильтрация данных по стране "United States"
rus_data = covid_df[covid_df['country'] == 'Russia']

# Нахождение максимальной летальности
mean_recover_rate = rus_data['recover_rate'].mean()

# Округление до второго знака после запятой
mean_recover_rate = round(mean_recover_rate, 2)

print("Средний процент выздоровевших в России:", mean_recover_rate)

Средний процент выздоровевших в России: 67.06

Задание 6.4

Создайте новый признак confirmed_per_hundred, который покажет процентное отношение заболевших вирусом к общему числу населения в странах ().
Постройте тепловую карту, которая покажет, как росло число заболевших в процентах от общего числа населения (confirmed_per_hundred) в странах из таблицы croped_covid_df.

In [ ]:
croped_covid_df['confirmed_per_hundred'] = croped_covid_df['confirmed'] / croped_covid_df['population'] * 100

#Формирование таблицы для тепловой карты

# создаём сводную таблицу: столбцы  — дата, строки — страна, значения — confirmed_per_hundred
pivot = croped_covid_df.pivot_table(
    values='confirmed_per_hundred',
    columns='date',
    index='country'
)
# Визуализация тепловой карты
pivot.columns = pivot.columns.astype('string')
fig = plt.figure(figsize=(10, 5))

heatmap = sns.heatmap(data=pivot, cmap='plasma')
heatmap.set_title('Тепловая карта заболеваемости', fontsize=16)

Задание 6.5

Постройте коробчатую диаграмму для признака recover_rate (отношение выздоровлений к числу зафиксированных случаев заболевания в процентах).

In [ ]:
fig = plt.figure(figsize=(10, 7))
boxplot = sns.boxplot(
    data=croped_covid_df,
    x='country',
    y='recover_rate',
    orient='v',
    width=0.9
)

Задание 7.5

Постройте линейный график, который отображает, как изменялось ежедневное количество вакцинированных (daily_vaccinations) в мире во времени. Из графика найдите, чему равно количество вакцинированных (в миллионах) 28 февраля 2021 года (2021-02-28). Ответ округлите до целого числа.

In [ ]:
# линейный график
line_data = covid_df.groupby('date', as_index=False)['daily_vaccinations'].sum()
fig = px.line(data_frame=line_data, x = 'date', y='daily_vaccinations')
fig.show()

Задание 7.6

Постройте анимированную тепловую картограмму для числа поставленных вакцин во всём мире (total_vaccinations). На полученной карте найдите, чему равно количество вакцинированных в Японии (Japan) на 24 марта 2021 года (2021-03-24). Ответ приведите в тысячах (без нулей) и округлите до целого числа.
Примечание. Если в jupyter notebook в VS Code не запускается анимация тепловой карты, попробуйте отобразить график командой fig.show(renderer='notebook').

In [ ]:
choropleth_data = covid_df.sort_values(by='date')
choropleth_data['date'] = choropleth_data['date'].astype('string')
fig = px.choropleth(
    data_frame=choropleth_data, #DataFrame
    locations="country", #столбец с локациями
    locationmode = "country names", #режим сопоставления локаций с базой Plotly
    color="total_vaccinations", #от чего зависит цвет
    hover_name="country", #группирующая переменная
    animation_frame="date", #анимационный бегунок
    color_continuous_scale='Reds', #палитра цветов
    range_color=[0, 600e6] #диапазон цвета
)

fig.show()

Задание 4.6 

Вам предоставлен файл test_data.csv. Прочитав этот файл, вы получите вот такой DataFrame:

Ваша задача — очистить данную таблицу от пропусков следующим образом:

- Если признак имеет больше 50% пропущенных значений, удалите его.
- Для оставшихся данных: если в строке более двух пропусков, удалите строку.
- Для оставшихся данных: числовые признаки заполните средним значением, а категориальные — модой.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('test_data.csv')

#задаем минимальный порог: вычисляем 50% от числа строк
thresh = df.shape[0]*0.5
#удаляем столбцы, в которых более 50% (100-50) пропусков
df = df.dropna(thresh=thresh, axis=1)#удаляем записи, в которых есть хотя бы 1 пропуск
# Для оставшихся данных: если в строке более двух пропусков, удаляем строку.
thresh2 = df.shape[1] - 2
df = df.dropna(thresh=thresh2, axis=0)
# Для оставшихся данных: числовые признаки заполняем средним значением, 
# а категориальные — модой.
df = df.fillna({
    'one': df['one'].mean(),
    'two': df['two'].mean(),
    'four': df['four'].mode()[0]})

Задание 6.1 (External resource)

Давайте немного модифицируем функцию outliers_iqr(data, feature). Добавьте в неё параметры left и right, которые задают число IQR влево и вправо от границ ящика (пусть по умолчанию они равны 1.5). Функция, как и раньше, должна возвращать потенциальные выбросы и очищенный DataFrame.

Назовите измененную функцию: outliers_iqr_mod`

Можете протестировать работу функции на DataFrame test_sber_data.csv.

In [1]:
def outliers_iqr(data, feature):
    x = data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * 1.5)
    upper_bound = quartile_3 + (iqr * 1.5)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

Вот модифицированная версия функции с параметрами left и right, которые позволяют гибко настраивать границы для определения выбросов:

In [3]:
import pandas as pd
import numpy as np

def outliers_iqr_mod(data, feature, left=1.5, right=1.5):
    if isinstance(data, str):  # Проверка, если передан путь к файлу
        data = pd.read_csv(data)

    x = data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75)
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)

    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

Задание 6.2

Давайте ослабим границы метода Тьюки справа и усилим их влево. Примените модифицированную функцию outliers_iqr_mod() к признаку full_sq из таблицы sber_data данным с параметрами left=1 и right=6. Результаты работы поместите в переменные outliers и cleaned. Чему равно результирующее число выбросов в данных?

In [ ]:
import pandas as pd
import numpy as np

def outliers_iqr_mod(data, feature, left=1.5, right=1.5):
    x = data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75)
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)

    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

outliers, cleaned = outliers_iqr_mod(sber_data, 'full_sq', left=1, right=6)
print(f'Число выбросов по методу Тьюки: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

In [ ]:
# Применим эту функцию к таблице sber_data и признаку full_sq, 
# а также выведем размерности результатов:

outliers, cleaned = outliers_iqr_mod(sber_data, 'full_sq', left=1, right=6)
print(f'Число выбросов по методу Тьюки: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу Тьюки: 59
Результирующее число записей: 30412

Задание 6.3

Давайте расширим правило трёх сигм, чтобы иметь возможность учитывать особенности данных. Добавьте в функцию outliers_z_score(data, feature, log_scale=False) параметры left и right, которые будут задавать число сигм (стандартных отклонений) влево и вправо соответственно, определяющее границы метода z-отклонения. По умолчанию оба параметры равны 3.

Результирующую функцию назовите outliers_z_score_mod().

Можете протестировать работу функции на DataFrame test_sber_data.csv. Проверять ваше решение мы будем, подавая на вход функции вместо data произвольный датафрейм.

In [ ]:
import numpy as np

def outliers_z_score_mod(data, feature, log_scale=False, left=3, right=3):
    if log_scale:
        x = np.log(data[feature] + 1)
    else:
        x = data[feature]
        
    mu = x.mean()
    sigma = x.std()
    
    lower_bound = mu - left * sigma
    upper_bound = mu + right * sigma
    
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    
    return outliers, cleaned

Задание 6.4

Проверьте, что будет, если дать «послабление» вправо, увеличив число сигм. Наша задача — узнать, начиная с какой границы поселения «Роговское» и «Киевское» перестают считаться выбросами. Примените свою функцию outliers_z_score_mod() к признаку mkad_km с параметрами left=3, right=3.5, log_scale=True. Чему равно результирующее число выбросов?

In [ ]:
import numpy as np

def outliers_z_score_mod(data, feature, log_scale=True, left=3, right=3.5):
    if log_scale:
        x = np.log(data[feature] + 1)
    else:
        x = data[feature]
        
    mu = x.mean()
    sigma = x.std()
    
    lower_bound = mu - left * sigma
    upper_bound = mu + right * sigma
    
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    
    return outliers, cleaned

In [ ]:
# Применим эту функцию к таблице sber_data и признаку mkad_km, 
# а также выведем размерности результатов:

outliers, cleaned = outliers_z_score_mod(sber_data, 'mkad_km', log_scale=True)
print(f'Число выбросов по методу z-отклонения: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу z-отклонения: 0
Результирующее число записей: 30471

Задание 6.5

Постройте гистограмму для признака price_doc в логарифмическом масштабе. А также, добавьте на график линии, отображающие среднее и границы интервала для метода трех сигм. Выберите верные утверждения:

In [ ]:
fig, ax = plt.subplots(1, 1, figsize=(8, 4))
log_price = np.log(sber_data['price_doc'])
histplot = sns.histplot(log_price, bins=30, ax=ax)
histplot.axvline(log_price.mean(), color='k', lw=2)
histplot.axvline(log_price.mean()+ 3 * log_price.std(), color='k', ls='--', lw=2)
histplot.axvline(log_price.mean()- 3 * log_price.std(), color='k', ls='--', lw=2)
histplot.set_title('Log price');

Задание 6.6

Найдите потенциальные выбросы по признаку price_doc с помощью метода z-отклонения. Используйте логарифмический масштаб распределения. Сделайте «послабление» на 0.7 сигм в обе стороны распределения. Сколько выбросов вы получили?

In [10]:
import numpy as np

def outliers_z_score_mod(data, feature, log_scale=True, left=3.7, right=3.7):
    if log_scale:
        x = np.log(data[feature] + 1)
    else:
        x = data[feature]
        
    mu = x.mean()
    sigma = x.std()
    
    lower_bound = mu - left * sigma
    upper_bound = mu + right * sigma
    
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    
    return outliers, cleaned

In [ ]:
# Применим эту функцию к таблице sber_data и признаку mkad_km, 
# а также выведем размерности результатов:

outliers, cleaned = outliers_z_score_mod(sber_data, 'price_doc', log_scale=True)
print(f'Число выбросов по методу z-отклонения: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу z-отклонения: 52
Результирующее число записей: 30419

Задание 6.7

Добавьте фишку с логарифмированием в свою функцию outliers_iqr_mod(). Добавьте в неё параметр log_scale. Если он выставлен в True, то производится логарифмирование признака. Примените полученную функцию к признаку price_doc. Число межквартильных размахов в обе стороны обозначьте как 3. Чему равно число выбросов, полученных таким методом?

При логарифмировании признака price_doc добавлять к нему 1 не нужно, он не имеет нулевых значений!

In [ ]:
import pandas as pd
import numpy as np

def outliers_iqr_mod(data, feature, left=1.5, right=1.5, log_scale=False):
    if log_scale:
        x = np.log(data[feature])
    else:
        x= data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

In [ ]:
# Применим эту функцию к таблице sber_data и признаку mkad_km, 
# а также выведем размерности результатов:

outliers, cleaned = outliers_iqr_mod(sber_data, 'price_doc', left=3, right=3, log_scale=True)
print(f'Число выбросов по методу Тьюки: {outliers.shape[0]}')

Число выбросов по методу Тьюки: 92

In [41]:
import pandas as pd
import numpy as np
diabetes = pd.read_csv('data/diabetes_data.csv')
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,98,58,33,190,34.0,0.430,43,0,Female
1,2,112,75,32,0,35.7,0.148,21,0,Female
2,2,108,64,0,0,30.8,0.158,21,0,Female
3,8,107,80,0,0,24.6,0.856,34,0,Female
4,7,136,90,0,0,29.9,0.210,50,0,Female

Задание 8.1

Начнём с поиска дубликатов в данных. Найдите все повторяющиеся строки в данных и удалите их. Для поиска используйте все признаки в данных. Сколько записей осталось в данных?

In [42]:
# Найдём число полных дубликатов таблице diabetes. Предварительно создадим список 
# столбцов dupl_columns, по которым будем искать совпадения.

# Создадим маску дубликатов с помощью метода duplicated() и произведём фильтрацию.
# Результат заносим в переменную diabetes_duplicates. Выведем число строк 
# в результирующем DataFrame:

dupl_columns = list(diabetes.columns)

mask = diabetes.duplicated(subset=dupl_columns)
diabetes_duplicates = diabetes[mask]
print(f'Число найденных дубликатов: {diabetes_duplicates.shape[0]}')

Число найденных дубликатов: 10

In [43]:
# Создадим новую таблицу diabetes_dedupped, которая будет версией исходной таблицы,
# очищенной от полных дубликатов.

diabetes_dedupped = diabetes.drop_duplicates(subset=dupl_columns)
print(f'Результирующее число записей: {diabetes_dedupped.shape[0]}')

Результирующее число записей: 768

Задание 8.2

Далее найдите все неинформативные признаки в данных и избавьтесь от них. В качестве порога информативности возьмите 0.95: удалите все признаки, для которых 95 % значений повторяются или 95 % записей уникальны. В ответ запишите имена признаков, которые вы нашли (без кавычек).

In [44]:
#список неинформативных признаков
low_information_cols = [] 

#цикл по всем столбцам
for col in diabetes.columns:
    #наибольшая относительная частота в признаке
    top_freq = diabetes[col].value_counts(normalize=True).max()
    #доля уникальных значений от размера признака
    nunique_ratio = diabetes[col].nunique() / diabetes[col].count()
    # сравниваем наибольшую частоту с порогом
    if top_freq > 0.95:
        low_information_cols.append(col)
        print(f'{col}: {round(top_freq*100, 2)}% одинаковых значений')
    # сравниваем долю уникальных значений с порогом
    if nunique_ratio > 0.95:
        low_information_cols.append(col)
        print(f'{col}: {round(nunique_ratio*100, 2)}% уникальных значений')

Gender: 100.0% одинаковых значений

In [45]:
# Итак, мы нашли один неинформативный признак. Теперь можно удалить его 
# с помощью метода drop(), передав результирующий список в его аргументы.

information_diabetes = diabetes.drop(low_information_cols, axis=1)
print(f'Результирующее число признаков: {information_diabetes.shape[1]}')

Результирующее число признаков: 9

Задание 8.3

Попробуйте найти пропуски в данных с помощью метода isnull().

Спойлер: ничего не найдёте. А они есть! Просто они скрыты от наших глаз. В таблице пропуски в столбцах Glucose, BloodPressure, SkinThickness, Insulin и BMI обозначены нулём, поэтому традиционные методы поиска пропусков ничего вам не покажут. Давайте это исправим!

Замените все записи, равные 0, в столбцах Glucose, BloodPressure, SkinThickness, Insulin и BMI на символ пропуска. Его вы можете взять из библиотеки numpy: np.nan.

Какая доля пропусков содержится в столбце Insulin? Ответ округлите до сотых.

In [46]:
# Список столбцов с "скрытыми" пропусками
columns_with_hidden_nans = ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

# Заменяем 0 на np.nan
diabetes[columns_with_hidden_nans] = diabetes[columns_with_hidden_nans].replace(0, np.nan)

# Доля пропусков в столбце Insulin
insulin_nan_ratio = diabetes['Insulin'].isnull().mean().round(2)
print(insulin_nan_ratio)

0.49

Задание 8.4

Удалите из данных признаки, где число пропусков составляет более 30 %. Сколько признаков осталось в ваших данных (с учетом удаленных неинформативных признаков в задании 8.2)?

In [55]:
#задаем минимальный порог: вычисляем 70% от числа строк
thresh = diabetes.shape[0]*0.7
#удаляем столбцы, в которых более 30% (100-70) пропусков
diabetes = diabetes.dropna(thresh=thresh, axis=1)#удаляем записи, в которых есть хотя бы 1 пропуск
diabetes = diabetes.dropna(how='any', axis=0)
#отображаем результирующую долю пропусков
diabetes.isnull().mean()

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
Gender                      0.0
dtype: float64

In [56]:
# Посмотрим на результирующее число записей:

print(diabetes.shape)

(778, 10)

Удалили один в 8.2 удалили тоже один (Gender) = 8

Задание 8.5

Удалите из данных только те строки, в которых содержится более двух пропусков одновременно. Чему равно результирующее число записей в таблице?

In [59]:
#отбрасываем строки с числом пропусков более 2 в строке
m = diabetes.shape[1] #число признаков после удаления столбцов
diabetes = diabetes.dropna(thresh=m-2, axis=0)

display(diabetes.shape[0])

# д.б. 761

778

Задание 8.6

В оставшихся записях замените пропуски на медиану. Чему равно среднее значение в столбце SkinThickness? Ответ округлите до десятых.

In [60]:
#  Шаг 1: Заменим пропуски (np.nan) на медианные значения по каждому столбцу.
for col in ['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']:
    median_value = diabetes[col].median()
    diabetes[col].fillna(median_value, inplace=True)
    
#  Шаг 2: Посчитаем среднее значение для SkinThickness
mean_skin_thickness = diabetes['SkinThickness'].mean().round(1)
print(mean_skin_thickness)

29.1

Задание 8.7

Сколько выбросов найдёт классический метод межквартильного размаха в признаке SkinThickness?

In [62]:
def outliers_iqr(data, feature):
    x = data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * 1.5)
    upper_bound = quartile_3 + (iqr * 1.5)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

In [63]:
# Применим эту функцию к таблице sber_data и признаку fSkinThickness, 
# а также выведем размерности результатов:

outliers, cleaned = outliers_iqr(diabetes, 'SkinThickness')
print(f'Число выбросов по методу Тьюки: {outliers.shape[0]}')
print(f'Результирующее число записей: {cleaned.shape[0]}')

Число выбросов по методу Тьюки: 87
Результирующее число записей: 691

Задание 8.8

Сколько выбросов найдёт классический метод z-отклонения в признаке SkinThickness?

In [71]:
# Как и раньше, функция будет возвращать выбросы и очищенные от них данные:

def outliers_z_score_mod(data, feature, left=3, right=3, log_scale=False):
    if log_scale:
        x = np.log(data[feature]+1)
    else:
        x = data[feature]
    mu = x.mean()
    sigma = x.std()
    lower_bound = mu - left * sigma
    upper_bound = mu + right * sigma
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

# Применим эту функцию к таблице diabetes и признаку SkinThickness, 
outliers, _ = outliers_z_score_mod(diabetes, 'SkinThickness')
print(outliers.shape[0])

4

Задание 8.9

На приведённой гистограмме показано распределение признака DiabetesPedigreeFunction. Такой вид распределения очень похож на логнормальный, и он заставляет задуматься о логарифмировании признака. Найдите сначала число выбросов в признаке DiabetesPedigreeFunction с помощью классического метода межквартильного размаха.

![alt text](dst-3-unit-1-mod-14-35-1.png)

Затем найдите число выбросов в этом же признаке в логарифмическом масштабе (при логарифмировании единицу прибавлять не нужно!). Какова разница между двумя этими числами (вычтите из первого второе)?

In [75]:
# Как и раньше, функция будет возвращать выбросы и очищенные от них данные:

def outliers_iqr_mod(data, feature, left=1.5, right=1.5, log_scale=False):
    if log_scale:
        x = np.log(data[feature])
    else:
        x= data[feature]
    quartile_1, quartile_3 = x.quantile(0.25), x.quantile(0.75),
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * left)
    upper_bound = quartile_3 + (iqr * right)
    outliers = data[(x < lower_bound) | (x > upper_bound)]
    cleaned = data[(x >= lower_bound) & (x <= upper_bound)]
    return outliers, cleaned

# Применим эту функцию к таблице diabetes и признаку DiabetesPedigreeFunction , 
# а также выведем размерности результатов:
# Применим эту функцию к таблице diabetes и признаку SkinThickness, 
outliers, _ = outliers_iqr_mod(diabetes, 'DiabetesPedigreeFunction')
outliers_log, _ = outliers_iqr_mod(diabetes, 'DiabetesPedigreeFunction', log_scale=True)
print(outliers.shape[0] - outliers_log.shape[0])

29

Задание 3.2 
Определите пустой класс с именем DepartmentReport.

Обратите внимание, что от вас требуется только объявить класс. Создавать экземпляров класса не нужно!

In [76]:
class DepartmentReport():  
    pass

Задание 3.3 
Скопируйте определение DepartmentReport из предыдущего задания и создайте объект department_report по нему.

In [ ]:
class DepartmentReport():  
    pass

department_report = DepartmentReport()

Задание 4.1

Допишите определение класса DepartmentReport, который выводит отчёт по отделам компании. У него должны быть определены:

свойство revenues — список, где мы храним значения выручки отделов;
метод add_revenue(), который добавляет выручку одного отдела в список revenues. Если списка revenues еще не существует, метод должен его создавать (проверку наличия атрибута можно выполнить с помощью встроенной функции hasattr());
метод average_revenue(), который возвращает среднюю выручку по всем отделам (считает среднее по списку revenues).

In [85]:
from statistics import mean
class DepartmentReport():  
    pass
    # Позволим добавлять много разных сделок   
    def add_revenue(self, amount):   
        # На первой сделке создадим список для хранения всех сделок   
        if not hasattr(self, 'revenues'):  
            self.revenues  = []  
        # Добавим текущую сделку  
        self.revenues.append(amount)  

    # Посчитаем сумму среднюю выручку по всем отделам (считает среднее по списку revenues).    
    def average_revenue(self):  
        return mean(self.revenues)  

report = DepartmentReport()
report.add_revenue(1_000_000)
report.add_revenue(400_000)
print(report.revenues)
# [1000000, 400000]
print(report.average_revenue())
# 700000.0

[1000000, 400000]
700000

Задание 4.2

Улучшите класс DepartmentReport, добавив в него инициализатор.

Класс при инициализации должен принимать переменную company_name и инициализировать её значением свойство company, а также инициализировать свойство revenues пустым списком.

Также модифицируйте метод average_revenue. Теперь он должен возвращать строку следующего вида "Average department revenue for <company_name>: <average_revenue>".

Обратите внимание, что от вас требуется только объявить класс. Создавать экземпляров класса не нужно!

In [91]:
from statistics import mean

class DepartmentReport:
    def __init__(self, company_name):
        self.company = company_name  # правильное имя атрибута
        self.revenues = []

    def add_revenue(self, amount):
        self.revenues.append(amount)

    def average_revenue(self):
        avg = round(mean(self.revenues))  # округляем по правилам арифметики
        return f"Average department revenue for {self.company}: {avg}"

report = DepartmentReport(company_name="Danon")
print(report.company)
# Danon

report.add_revenue(1_000_000)
report.add_revenue(400_000)

print(report.average_revenue())
# Average department revenue for Danon: 700000

Danon
Average department revenue for Danon: 700000

Задание 5.1

Мы разрабатываем приложение, которое подразумевает функционал авторизации пользователя, а также управление его балансом на некотором виртуальном счете.

Определите класс для пользователей User.

У него должны быть:

атрибуты email, password и balance, которые устанавливаются при инициализации в методе __init__();
метод login(), который реализует проверку почты и пароля. Метод должен принимать в качестве аргументов емайл (email) и пароль (password). Если они совпадают с атрибутами объекта, он возвращает True, а иначе — False;
метод update_balance(), который должен принимать в качестве аргумента amount некоторое число и изменять текущий баланс счёта (атрибут balance) на величину amount.

In [ ]:
class User:
    def __init__(self, email, password, balance):
        self.email = email
        self.password = password
        self.balance = balance

    def login(self, email, password):
        return self.email == email and self.password == password

    def update_balance(self, amount):
        self.balance += amount


user = User("gosha@roskino.org", "qwerty", 20_000)
print(user.login("gosha@roskino.org", "qwerty123"))
# False
print(user.login("gosha@roskino.org", "qwerty"))
# True
user.update_balance(200)
user.update_balance(-500)
print(user.balance)
# 19700

False
True
19700

Задание 5.2

Определите класс IntDataFrame, который в момент инициализации объектов принимает список неотрицательных чисел и приводит к целым значениям все числа в этом списке, отрезая дробную часть с помощью встроенной функции int().

Результирующий список должен быть сохранен в виде атрибута с именем column.

Также класс должен содержать следующие методы:

count(), который возвращает количество ненулевых элементов в списке column;

unique(), который возвращает число уникальных элементов в списке в списке column.

In [ ]:
# Название класса — IntDataFrame, а не DataFrame (чтобы не конфликтовать с pandas).
class IntDataFrame:
    def __init__(self, data):
        # Приводим все значения к целым и сохраняем
        self.column = [int(x) for x in data]

    def count(self):
        # Считаем количество ненулевых элементов
        return sum(1 for x in self.column if x != 0)

    def unique(self):
        # Считаем количество уникальных значений
        return len(set(self.column))


df = IntDataFrame([4.7, 4, 3, 0, 2.4, 0.3, 4])

print(df.column)
# [4, 4, 3, 0, 2, 0, 4]

print(df.count())
# 5

print(df.unique())
# 4

[4, 4, 3, 0, 2, 0, 4]
5
4

Задание 5.3

Напишите класс сборщика технических сообщений OwnLogger.

У него должен быть

атрибут logs, содержащий {"info": None, "warning": None, "error": None, "all": None}.
метод log(message, level), который записывает сообщения. Здесь сообщение message может быть любым, а level — один из "info", "warning", "error".
метод show_last(level), где level может быть "info", "warning", "error", "all".
Для "all" он просто возвращает последнее добавленное сообщение, а для остальных — последнее поступившее сообщение соответствующего уровня. При этом по умолчанию значение именно "all".

Если подходящего сообщения нет, возвращает None.

In [95]:
class OwnLogger:
    def __init__(self):
        self.logs = {"info": None, "warning": None, "error": None, "all": None}

    def log(self, message, level):
        if level in ["info", "warning", "error"]:
            self.logs[level] = message
            self.logs["all"] = message  # последнее сообщение любого уровня

    def show_last(self, level="all"):
        return self.logs.get(level)
    
logger = OwnLogger()
logger.log("System started", "info")
print(logger.show_last("error"))      # None
logger.log("Connection instable", "warning")
logger.log("Connection lost", "error")

print(logger.show_last())             # Connection lost
print(logger.show_last("info"))       # System started

None
Connection lost
System started

Задание 6.3

Определите класс Dog, у которого есть методы bark и give_paw. При этом, пусть методы принимают список из любого количества аргументов.

bark возвращает строку "Bark!"
give_paw возвращает строку "Paw"

In [ ]:
class Dog:
    def bark(self, *args):
        return "Bark!"
    
    def give_paw(self, *args):
        return "Paw"

Задание 6.4

В папке animals в файле dog.py лежит класс Dog. Напишите команду, которая импортирует этот класс.

In [ ]:
from animals.dog import Dog

Задание на самопроверку.

Сделайте функцию, которая принимает от пользователя путь и выводит всю информацию о содержимом этой папки. Для реализации используйте функцию встроенного модуля os.walk(). Если путь не указан, то сравнение начинается с текущей директории.

In [96]:
import os

def walk_desc(path=None):
    start_path = path if path is not None else os.getcwd()

    for root, dirs, files in os.walk(start_path):
        print("Текущая директория", root)
        print("---")

        if dirs:
            print("Список папок", dirs)
        else:
            print("Папок нет")
        print("---")

        if files:
            print("Список файлов", files)
        else:
            print("Файлов нет")
        print("---")

        if files and dirs:
            print("Все пути:")
        for f in files:
            print("Файл ", os.path.join(root, f))
        for d in dirs:
            print("Папка ", os.path.join(root, d))
        print("===")

walk_desc()

Текущая директория d:\dev\demo\Skillfactor
---
Список папок ['archive', 'data', 'helpers', 'plotly']
---
Список файлов ['churn_data.ipynb', 'dst-3-unit-1-15-3.png', 'dst-3-unit-1-15-4.png', 'dst-3-unit-1-mod-14-12.png', 'dst-3-unit-1-mod-14-25.png', 'dst-3-unit-1-mod-14-28.png', 'dst-3-unit-1-mod-14-29.png', 'dst-3-unit-1-mod-14-35-1.png', 'dst-3-unit-1-mod-14-35.png', 'dst3-u1-md12_3_1.png', 'dst3-u1-md13_8_1.png', 'dst3-u1-md13_8_10.png', 'dst3-u1-md13_8_2.png', 'dst3-u1-md13_8_3.png', 'dst3-u1-md13_8_4.png', 'dst3-u1-md13_8_5.png', 'dst3-u1-md13_8_6.png', 'dst3-u1-md13_8_7.png', 'dst3-u1-md13_8_8.png', 'dst3-u1-md13_8_9.png', 'DS_2_5_Visualizaion_Matplotlib.ipynb', 'DS_2_5_Visualization_Pandas.ipynb', 'DS_2_5_Visualization_Plotly.ipynb', 'DS_2_5_Visualization_Seaborn.ipynb', 'FPW_C3.4._1.png', 'lessons_and_solution.ipynb', 'work.ipynb']
---
Все пути:
Файл  d:\dev\demo\Skillfactor\churn_data.ipynb
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-15-3.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-15-4.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-12.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-25.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-28.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-29.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-35-1.png
Файл  d:\dev\demo\Skillfactor\dst-3-unit-1-mod-14-35.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md12_3_1.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_1.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_10.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_2.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_3.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_4.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_5.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_6.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_7.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_8.png
Файл  d:\dev\demo\Skillfactor\dst3-u1-md13_8_9.png
Файл  d:\dev\demo\Skillfactor\DS_2_5_Visualizaion_Matplotlib.ipynb
Файл  d:\dev\demo\Skillfactor\DS_2_5_Visualization_Pandas.ipynb
Файл  d:\dev\demo\Skillfactor\DS_2_5_Visualization_Plotly.ipynb
Файл  d:\dev\demo\Skillfactor\DS_2_5_Visualization_Seaborn.ipynb
Файл  d:\dev\demo\Skillfactor\FPW_C3.4._1.png
Файл  d:\dev\demo\Skillfactor\lessons_and_solution.ipynb
Файл  d:\dev\demo\Skillfactor\work.ipynb
Папка  d:\dev\demo\Skillfactor\archive
Папка  d:\dev\demo\Skillfactor\data
Папка  d:\dev\demo\Skillfactor\helpers
Папка  d:\dev\demo\Skillfactor\plotly
===
Текущая директория d:\dev\demo\Skillfactor\archive
---
Папок нет
---
Список файлов ['25-04-14.pkl']
---
Файл  d:\dev\demo\Skillfactor\archive\25-04-14.pkl
===
Текущая директория d:\dev\demo\Skillfactor\data
---
Папок нет
---
Список файлов ['churn.csv', 'citibike-tripdata.csv', 'countries.csv', 'country_vaccinations.csv', 'covid_data.csv', 'dates.csv', 'diabetes_data.csv', 'melb_data.csv', 'melb_data_fe.csv', 'melb_data_ps.csv', 'movies.csv', 'orders.csv', 'products.csv', 'ratings1.csv', 'ratings2.csv', 'ratings_movies.csv', 'sber_data.csv', 'students_performance.csv']
---
Файл  d:\dev\demo\Skillfactor\data\churn.csv
Файл  d:\dev\demo\Skillfactor\data\citibike-tripdata.csv
Файл  d:\dev\demo\Skillfactor\data\countries.csv
Файл  d:\dev\demo\Skillfactor\data\country_vaccinations.csv
Файл  d:\dev\demo\Skillfactor\data\covid_data.csv
Файл  d:\dev\demo\Skillfactor\data\dates.csv
Файл  d:\dev\demo\Skillfactor\data\diabetes_data.csv
Файл  d:\dev\demo\Skillfactor\data\melb_data.csv
Файл  d:\dev\demo\Skillfactor\data\melb_data_fe.csv
Файл  d:\dev\demo\Skillfactor\data\melb_data_ps.csv
Файл  d:\dev\demo\Skillfactor\data\movies.csv
Файл  d:\dev\demo\Skillfactor\data\orders.csv
Файл  d:\dev\demo\Skillfactor\data\products.csv
Файл  d:\dev\demo\Skillfactor\data\ratings1.csv
Файл  d:\dev\demo\Skillfactor\data\ratings2.csv
Файл  d:\dev\demo\Skillfactor\data\ratings_movies.csv
Файл  d:\dev\demo\Skillfactor\data\sber_data.csv
Файл  d:\dev\demo\Skillfactor\data\students_performance.csv
===
Текущая директория d:\dev\demo\Skillfactor\helpers
---
Список папок ['__pycache__']
---
Список файлов ['client.py', 'data_frame.py', 'dumper.py', '__init__.py']
---
Все пути:
Файл  d:\dev\demo\Skillfactor\helpers\client.py
Файл  d:\dev\demo\Skillfactor\helpers\data_frame.py
Файл  d:\dev\demo\Skillfactor\helpers\dumper.py
Файл  d:\dev\demo\Skillfactor\helpers\__init__.py
Папка  d:\dev\demo\Skillfactor\helpers\__pycache__
===
Текущая директория d:\dev\demo\Skillfactor\helpers\__pycache__
---
Папок нет
---
Список файлов ['dumper.cpython-38.pyc', '__init__.cpython-38.pyc']
---
Файл  d:\dev\demo\Skillfactor\helpers\__pycache__\dumper.cpython-38.pyc
Файл  d:\dev\demo\Skillfactor\helpers\__pycache__\__init__.cpython-38.pyc
===
Текущая директория d:\dev\demo\Skillfactor\plotly
---
Папок нет
---
Список файлов ['scatter_3d.html']
---
Файл  d:\dev\demo\Skillfactor\plotly\scatter_3d.html
===

Задание 7.4

Создайте любой файл на операционной системе под название input.txt и построчно перепишите его в файл output.txt.

In [ ]:
# Для начала создаем такой файл в дтирекотрии (можно вручную, можно из Python):

with open("input.txt", "w", encoding="utf-8") as f:
    f.write("Пример строки\nЕщё одна строка")

In [100]:
with open("input.txt", "r") as input_file:
    with open("output.txt", "w") as output_file:
        for line in input_file:
            output_file.write(line)

Задание 7.5

Дан файл numbers.txt, компоненты которого являются действительными числами (файл создайте самостоятельно и заполните любыми числам, в одной строке одно число). Найдите сумму наибольшего и наименьшего из значений и запишите результат в файл output.txt.

In [ ]:
filename = 'numbers.txt'
output = 'output.txt'

with open(filename) as f:
    min_ = max_ = float(f.readline())  # считали первое число
    for line in f:
        num =  float(line)
        if num > max_:
            max_ = num
        elif num < min_:
            min_ = num

    sum_ = min_ + max_

with open(output, 'w') as f:
    f.write(str(sum_))
    f.write('\n')

Задание 7.6

В текстовый файл построчно записаны фамилии и имена учащихся класса и их оценки за контрольную. Подсчитайте количество учащихся, чья оценка меньше 3 баллов. Cодержание файла:
Иванов О. 4
Петров И. 3
Дмитриев Н. 2
Смирнова О. 4
Керченских В. 5
Котов Д. 2
Бирюкова Н. 1
Данилов П. 3
Аранских В. 5
Лемонов Ю. 2
Олегова К. 4

In [ ]:
count = 0
for line in open("input.txt"):
    points = int(line.split()[-1])
    if points < 3:
        count += 1

Задание 7.7

Выполните реверсирование строк файла (перестановку строк файла в обратном порядке).

In [ ]:
with open("input.txt", "r") as input_file:
    with open("output.txt", "w") as output_file:
        for line in reversed(input_file.readlines()):
            output_file.write(line)

Задание 8.7

Создать скрипт, который будет в input() принимать строки, и их необходимо будет конвертировать в числа, добавить try-except на то, чтобы строки могли быть сконвертированы в числа.

В случае удачного выполнения скрипта написать: «Вы ввели <введённое число>».

В конце скрипта обязательно написать: «Выход из программы».

ПРИМЕЧАНИЕ: Для отлова ошибок используйте try-except, а также блоки finally и else.

In [ ]:
try:
    i = int(input('Введите число:\t'))
except ValueError as e:
    print('Вы ввели неправильное число')
else:
    print(f'Вы ввели {i}')
finally:
    print('Выход из программы')

Задание 9.5

Создайте класс Square. Добавьте в конструктор класса Square собственное исключение NonPositiveDigitException, унаследованное от ValueError, которое будет срабатывать каждый раз, когда сторона квадрата меньше или равна 0.

Эталон реше

In [ ]:
class NonPositiveDigitException(ValueError):
    pass
 
class Square:
    def __init__(self, a):
        if a <= 0:
            raise NonPositiveDigitException('Неправильно указана сторона квадрата')